doctype html
html(ng-app="myApp")
	head
		meta(charset='utf8')
		meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
		base(href='/')
		title Bike de Paris
		link(rel='stylesheet', href='/css/app.css')
	body
		block body