.custom-marker {
   font-size: 1.5em;
        padding: 10px;
        background: #fff;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border: #7F7F7F solid 1px;
      }
#show {
  font-size: 10em;
  align-content: center;

}
